* {
      font-family: "Poppins", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;

}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #17233D;
    cursor: pointer;
    letter-spacing: 0.875px;
    margin-right: 32px;

}

.button-header {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.img-congrats {
    margin: 163px 0 0 123px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    width: 582px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.link-learnmore {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

@media screen and (max-width:900px){
    header {
        width: 100%;
        padding: 12px 16px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        position: relative;
    }

    .link-header{
        display: none;
    }

    .button-header{
        border-radius: 6px;
        width: 91px;
        height: 31px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        margin: 0 8px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - 2px);
        box-sizing: border-box;
    }

    section {
        display: block;
        width: 90%;
        max-width: 360px;
        margin: 32px auto 0;
        text-align: center;
    }

    h1{
        width: auto;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin: 8px 0 12px;
    }

    p {
        width: auto;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 20px;
    }

    .link-learnmore {
        display: inline-block;
        margin: 10px auto 24px;
        text-align: center;
        font-size: 18px;

    }

    .img-congrats {
        display: block;
        margin: 8px auto 24px;
        width: 420px;
        height: 360px;
        position: absolute;
        top: 50vh;
        bottom:20vh;
    }
}